@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

* {
  font-family: "Fira Code", sans-serif;

  font-variant-ligatures: discretionary-ligatures;
}
/* housekeeping */
body {
  background-image: url();

}

.title {
  padding-left: 100px;
}
.title {
  text-align: center;
  font-weight: bold;
}

.title-text.glow {
  background-image: linear-gradient(to top, #FF1B6B 25%, #45CAFF 50%, #60EFFF 75%);
    -webkit-background-clip: text; 
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #60a5fa;
    filter: drop-shadow(0 0 6px #60a5fa);
}

.mini-text.glow {
  background-image: linear-gradient(to bottom, #ffff 10%, #ffae74 40%, #ff6A00 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

/* end of housekeeping */
@keyframes green {
  from {
    background-color: rgb(48, 183, 10);
    transform: skewY(-30deg);
  }
  15% {
    background-color: lightgreen;
    transform: skewY(-20deg);
  }
  to {
    background-color: white;
  }
}
@keyframes red {
  from {
    background-color: red;
    transform: skewZ(-40deg);
  }
  75% {
    background-color: lightgoldenrodyellow;
    transform: skewZ(-2deg);
  }
  to {
    background-color: white;
  }
}
@keyframes flyright {
  from {
    transform: rotateX(0deg) scaleY(5);
    opacity: 1;
  }
  to {
    transform: rotateX(100deg) scaleX(5);
    opacity: 0;
  }
}
.red {
  animation: red 1s;
}
.greenlog {
  background-color: lightgreen;
  font-size: large;
}
.redlog {
  border-bottom: groove salmon 2px;
  font-size: small;
}
#infinitesimal {
  overflow-x: scroll;
  height: 10rem;
  background-color: rgb(104, 159, 207);
}
.invisible {
  opacity: 0;
}
.flyright {
  animation-timing-function: linear;
  animation-name: flyright;
  animation-duration: 1300ms;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

marquee {
  font-size: 2.8vmin;
  font-weight: bold;
  background-image: linear-gradient(to top, #FF1B6B 25%, #45CAFF 50%, #60EFFF 75%);
    -webkit-background-clip: text; 
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #60a5fa;
    filter: drop-shadow(0 0 6px #60a5fa);
}